# used to configure the code based on network see: hardhat.config.js
BLOCKCHAIN_NETWORK=hardhat

# coin market cap key to estimate the gas cost in unit tests
BLOCKCHAIN_CMC_KEY=

# scanner API key
BLOCKCHAIN_SCANNER_KEY=

# localhost settings
BLOCKCHAIN_LOCALHOST_RPC_URL="http://127.0.0.1:8545"
BLOCKCHAIN_LOCALHOST_PRIVATE_KEY=
BLOCKCHAIN_LOCALHOST_CONTRACT_ADDRESS=

# testnet settings
BLOCKCHAIN_TESTNET_RPC_URL="https://rpc-mumbai.maticvigil.com"
BLOCKCHAIN_TESTNET_PRIVATE_KEY=
BLOCKCHAIN_TESTNET_CONTRACT_ADDRESS=

# mainnet settings
BLOCKCHAIN_MAINNET_RPC_URL="https://rpc-mainnet.maticvigil.com"
BLOCKCHAIN_MAINNET_PRIVATE_KEY=
BLOCKCHAIN_MAINNET_CONTRACT_ADDRESS=
